@import "tailwindcss";

@theme {
  --color-bg: #EBEAE5;
  --color-text: #28282A;

  --breakpoint-md: 768px;
  --breakpoint-xl: 1440px;

  --spacing-page: max(12px, 1.667vw);
  --spacing-logo: max(10px, 1.389vw);
  --spacing-menu-gap: max(24px, 3.333vw);

  --font-size-subtitle: max(12px, 1.667vw);
  --font-size-title: max(70px, 9.722vw);
  --font-size-menu: max(8px, 1.111vw);
  --font-size-button: max(10px, 1.389vw);

  --height-button: max(22px, 3.056vw);
  --padding-button-x: max(32px, 4.444vw);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
