@import "tailwindcss";

@theme {
  --color-bg: #EBEAE5;
  --color-text: #28282A;

  --breakpoint-md: 768px;
  --breakpoint-xl: 1440px;

  --spacing-page: max(12px, 1.667vw);
  --spacing-logo: max(10px, 1.389vw);
  --spacing-menu-gap: max(24px, 3.333vw);
  --spacing-header-gap: max(16px, 2.222vw);
  --spacing-switcher-gap: max(2px, 0.278vw);

  --font-size-subtitle: max(12px, 1.667vw);
  --font-size-title: max(70px, 9.167vw);
  --font-size-menu: max(8px, 1.111vw);
  --font-size-button: max(10px, 1.389vw);

  --height-header: max(48px, 4.444vw);
  --height-button: max(22px, 3.056vw);
  --padding-button-x: max(32px, 4.444vw);
}

@media (max-width: 767px) {
  :root {
    --spacing-page: max(12px, 3.125vw);
    --spacing-logo: max(16px, 4.726vw);
    --spacing-menu-gap: max(8px, 2.083vw);
    --spacing-header-gap: max(8px, 2.083vw);
    --spacing-switcher-gap: max(1px, 0.26vw);

    --font-size-subtitle: max(16px, 4.167vw);
    --font-size-title: max(53px, 13.823vw);
    --font-size-menu: max(8px, 2.083vw);
    --font-size-menu-mobile: max(32px, 9.453vw);
    --font-size-button: max(16px, 4.167vw);

    --height-header: max(24px, 6.25vw);
    --height-button: max(32px, 8.341vw);
    --padding-button-x: max(48px, 12.516vw);
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  letter-spacing: -0.03em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
