@import "tailwindcss";

@theme {
  --color-primary: #EBEAE5;
  --color-secondary-bg: #FFFFFF;
  --color-secondary: #28282A;
  --color-muted: #81807F;

  --breakpoint-md: 768px;
  --breakpoint-xl: 1440px;

  --spacing-page: max(12px, 1.667vw);
  --spacing-logo: max(10px, 1.389vw);
  --spacing-header-item-gap: max(16px, 2.222vw);
  --spacing-switcher-gap: max(2px, 0.278vw);

  --font-size-subtitle: max(12px, 1.667vw);
  --font-size-title: max(70px, 9.167vw);
  --font-size-menu: max(8px, 1.111vw);
  --font-size-button: max(10px, 1.389vw);
  --font-size-h2: max(32px, 4.444vw);
  --font-size-h3: max(24px, 3.333vw);
  --font-size-breadcrumbs: max(10px, 0.833vw);
  --font-size-service-list: max(9px, 1.25vw);
  --font-size-service-number: max(16px, 2.222vw);

  --spacing-block-gap: max(62px, 8.611vw);
  --spacing-section-gap: max(48px, 6.667vw);
  --spacing-end: max(48px, 6.667vw);

  --height-header: max(48px, 4.444vw);
  --height-button: max(22px, 3.056vw);
  --padding-button-x: max(32px, 4.444vw);
}

@media (max-width: 767px) {
  :root {
    --spacing-page: max(12px, 3.125vw);
    --spacing-logo: max(16px, 4.726vw);
    --spacing-header-item-gap: max(8px, 2.083vw);
    --spacing-mobile-menu-gap: max(16px, 4.727vw);
    --spacing-switcher-gap: max(1px, 0.26vw);

    --font-size-subtitle: max(16px, 4.167vw);
    --font-size-title: max(53px, 13.823vw);
    --font-size-menu: max(8px, 2.083vw);
    --font-size-menu-mobile: max(32px, 9.453vw);
    --font-size-button: max(16px, 4.167vw);
    --font-size-h2: max(24px, 6.316vw);
    --font-size-h3: max(18px, 4.737vw);
    --font-size-breadcrumbs: max(10px, 2.632vw);
    --font-size-service-list: max(13px, 3.421vw);
    --font-size-service-number: max(16px, 4.211vw);

    --spacing-block-gap: max(62px, 16.316vw);
    --spacing-section-gap: max(48px, 12.632vw);
    --spacing-end: max(48px, 12.632vw);

    --height-header: max(24px, 6.25vw);
    --height-button: max(32px, 8.341vw);
    --padding-button-x: max(48px, 12.516vw);
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'ss03' 1;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  letter-spacing: -0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}

@supports (font-variation-settings: normal) {
  html, body {
    font-family: 'InterVariable', 'Inter', sans-serif;
  }
}

.section-gap-before {
  padding: var(--spacing-section-gap) var(--spacing-page) 0;
}
@media (max-width: 767px) {
  .section-gap-before {
    padding-top: var(--spacing-block-gap);
  }
  .mobile-gap-before {
    margin-top: var(--spacing-page);
  }
}
